<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <a href="/hypothesis_frame_per_second"><span>Frame Per Second</span></a>
            <a href="/hypothesis_frame_processing_speed"><span>Frame Processing Speed</span></a>
        </section>
        <section>
            <a><span>Hypo 2.1</span></a>
            <a><span>Hypo 2.2</span></a>
        </section>
        <section>
            <a href="/hypothesis_frr_far"><span>Hypo 3.2</span></a>
        </section>
    </main>
    {% include 'components/dialogs.html' %}
</body>
</html>